<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>手风琴</title>
    <link rel="stylesheet" href="/common/reset.css" />
    <link rel="stylesheet" href="/common/style.css" />
    <link rel="stylesheet" href="../src/css/accordion.css" />
  </head>
  <body>
    <div class="container">
      <div class="switch-container"></div>
      <ul class="accordion-list">
        <li>
          <div class="accordion">
            <button class="accordion-btn"><span>Section1</span></button>
            <div class="panel">
              <div class="panel-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <img src="../src/img/01.jpg" alt="" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="accordion">
            <button class="accordion-btn"><span>Section2</span></button>
            <div class="panel">
              <div class="panel-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <img src="../src/img/02.jpg" alt="" />
              </div>
            </div>
          </div>
        </li>
        <li>
          <div class="accordion">
            <button class="accordion-btn"><span>Section3</span></button>
            <div class="panel">
              <div class="panel-content">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </p>
                <img src="../src/img/03.jpg" alt="" />
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="../src/js/accordion.js"></script>
  </body>
</html>
