<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>下拉列表</title>
    <link rel="stylesheet" href="/common/reset.css" />
    <link rel="stylesheet" href="/common/style.css" />
    <link rel="stylesheet" href="../src/css/dropdowns.css" />
  </head>
  <body>
    <div class="container">
      <div class="dropdown">
        <button class="drop-btn">Left-Aligned</button>
        <div class="dropdown-list">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown dropdown-ico ico-caret-down">
        <button class="drop-btn">Hover Me <i></i></button>
        <div class="dropdown-list">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown dropdown-align--middle">
        <button class="drop-btn">Mid-Aligned</button>
        <div class="dropdown-list">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2Link 2Link 2Link 2Link 2Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
      <div class="dropdown dropdown-align--right">
        <button class="drop-btn">Right-Aligned</button>
        <div class="dropdown-list">
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="../src/js/dropdowns.js"></script>
  </body>
</html>
