<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>画廊</title>
    <link rel="stylesheet" href="/common/reset.css" />
    <link rel="stylesheet" href="/common/style.css" />
    <link rel="stylesheet" href="../src/css/gallery.css" />
  </head>
  <body>
    <div class="container">
      <label for=""><b>LightBox</b></label>
      <div class="imgs-display">
        <div class="img-col">
          <img
            src="../src/img/01.jpg"
            alt=""
            class="hover-shadow"
            data-key="1"
          />
        </div>
        <div class="img-col">
          <img
            src="../src/img/02.jpg"
            alt=""
            class="hover-shadow"
            data-key="2"
          />
        </div>
        <div class="img-col">
          <img
            src="../src/img/03.jpg"
            alt=""
            class="hover-shadow"
            data-key="3"
          />
        </div>
        <div class="img-col">
          <img
            src="../src/img/04.jpg"
            alt=""
            class="hover-shadow"
            data-key="4"
          />
        </div>
        <div class="img-col">
          <img
            src="../src/img/05.jpg"
            alt=""
            class="hover-shadow"
            data-key="5"
          />
        </div>
        <div class="img-col">
          <img
            src="../src/img/06.jpg"
            alt=""
            class="hover-shadow"
            data-key="6"
          />
        </div>
      </div>
      <div class="gallery-modal">
        <a href="#" class="modal-close">✖</a>
        <div class="modal-content"></div>
      </div>
      <div class="place">
        <p>
          Full Sidebar This sidebar is of full height (100%) and always shown.
        </p>
        <p>Scroll this window to see the "fixed" effect. Some text to enable</p>
        <p>
          scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
        </p>
        <p>
          maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
        </p>
        <p>gloriatur ius te, id agam omnis evertitur eum. Affert laboramus</p>
        <p>
          repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
        </p>
        <p>
          voluptatibus. Some text to enable scrolling.. Lorem ipsum dolor sit
        </p>
        <p>amet, illum definitiones no quo, maluisset concludaturque et eum,</p>
        <p>
          altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis
        </p>
        <p>evertitur eum. Affert laboramus repudiandae nec et. Inciderint</p>
        <p>efficiantur his ad. Eum no molestiae voluptatibus.</p>
        <p>
          Full Sidebar This sidebar is of full height (100%) and always shown.
        </p>
        <p>Scroll this window to see the "fixed" effect. Some text to enable</p>
        <p>
          scrolling.. Lorem ipsum dolor sit amet, illum definitiones no quo,
        </p>
        <p>
          maluisset concludaturque et eum, altera fabulas ut quo. Atqui causae
        </p>
        <p>gloriatur ius te, id agam omnis evertitur eum. Affert laboramus</p>
        <p>
          repudiandae nec et. Inciderint efficiantur his ad. Eum no molestiae
        </p>
        <p>
          voluptatibus. Some text to enable scrolling.. Lorem ipsum dolor sit
        </p>
        <p>amet, illum definitiones no quo, maluisset concludaturque et eum,</p>
        <p>
          altera fabulas ut quo. Atqui causae gloriatur ius te, id agam omnis
        </p>
        <p>evertitur eum. Affert laboramus repudiandae nec et. Inciderint</p>
        <p>efficiantur his ad. Eum no molestiae voluptatibus.</p>
      </div>
    </div>
    <script src="https://cdn.staticfile.org/jquery/3.6.0/jquery.min.js"></script>
    <script src="../src/js/gallery.js"></script>
  </body>
</html>
