.accordion-list {
  width: 800px;
}
.accordion-btn {
  display: block;
  width: 100%;
  padding: 18px;
  background: #eee;
  color: #444;
  cursor: pointer;
  border: none;
  text-align: left;
  font-size: 16px;
  transition: 0.6s;
}
.accordion-btn:hover {
  background: #ccc;
}
.accordion .accordion-btn::after {
  content: '+';
  display: inline-block;
  position: absolute;
  right: 18px;
  font-size: 16px;
}
.accordion.active .accordion-btn::after {
  content: '-';
}
.accordion .panel {
  height: 0;
  padding: 0 18px;
  overflow: hidden;
  transition: height 0.4s ease-out;
}
.accordion.active .panel {
  border: 1px solid #ccc;
}
.panel-content {
  font-size: 15px;
  color: #333;
}
.panel-content > * {
  font-size: inherit;
  color: inherit;
  margin-top: 18px;
  margin-bottom: 18px;
}

.switch-container {
  padding: 18px;
  display: flex;
  align-items: center;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
