.container .btn {
  font-size: 17px;
  color: #fff;
  width: 150px;
  padding: 10px;
  background: #0d8bf2;
  border: none;
  cursor: pointer;
}
.container p {
  display: block;
  font-size: 40px;
  color: #999;
  margin: 40px 0;
}
.container .btn:hover {
  background: #2196f3;
}
.login-modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
}
.login-modal .dialog {
  position: absolute;
  width: 600px;
  top: 100px;
  left: calc(50% - 300px);
  overflow: hidden;
  background: #fff;
  z-index: 100;
  animation: zoom-in 0.6s;
  -webkit-animation: zoom-in 0.6s;
}
@-webkit-keyframes zoom-in {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}
@keyframes zoom-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.form-group .form-item {
  width: 100%;
}
.dialog-header .close-btn {
  display: flex;
}
.close-btn > a {
  margin-left: auto;
  padding: 16px;
  font-size: 30px;
}
.close-btn > a:hover {
  background: #cccccc;
  color: #757575;
}
.dialog-header .img-wrap {
  display: flex;
  justify-content: center;
}
.img-wrap > img {
  height: 240px;
  border-radius: 50%;
}
.dialog .form-group {
  padding: 16px;
}
.form-item b {
  font-size: 15px;
  font-weight: bolder;
}
.form-item > input {
  width: 100%;
  display: block;
  padding: 8px;
  border: 1px solid #ccc;
  font: inherit;
  margin-bottom: 16px;
}
.form-group .form-submit {
  color: #fff;
  background: #4caf50;
  width: 100%;
  border: none;
  margin: 16px 0;
  font: inherit;
  padding: 12px 0;
  cursor: pointer;
}
.form-group .form-submit:hover {
  background: #cccccc;
  color: #333333;
}

.dialog .action-bar {
  padding: 16px;
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
}
.action-bar .btn-cancel {
  padding: 8px 16px;
  background: #f44336;
  color: #fff;
  margin-right: auto;
  text-align: center;
  font: inherit;
}
.action-bar a {
  text-decoration: underline;
  margin: 0 6px;
}
label[for='remember'] > input {
  margin-right: 6px;
}
